<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site TCC</title>
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/bootstrap/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <header class="p-3 text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/Home" class="nav-link px-2 text-white">Início</a></li>
                    <li><a asp-action="PesquisarReceita" class="nav-link px-2 text-white">Receitas</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Sobre</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Contato</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Pesquisar..." aria-label="Search">
                </form>

                <div class="text-end">
                    <a href="/Home/Login"><button type="button" class="btn btn-success">Login</button></a>
                    <a href="/Home/Cadastro"><button type="button" class="btn btn-dark">Cadastre-se</button></a>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <br>
    @RenderBody()
    <!--Área destinada ao rodapé da página-->
    <footer>
        <div id="logo">Logo</div>
        <div id="contatos">
            Contatos
            <li>Telefone</li>
            <li>E-mail</li>
            <br>
            <img src="~/img/google-play.png">
        </div>
        <br>
        <div id="redes-sociais">
            Redes Sociais
            <li>Twitter</li>
            <li>Facebook</li>
            <li>Instagram</li>
        </div>
    </footer>
</body>
<script type="module" src="~/bootstrap/assets/dist/js/bootstrap.bundle.min.js"></script>
</html>