@{
    Layout = "_Layout";
}

<div class="form-login-cad">
    <h2>Login</h2>
    <form method="post" action="">
        <label for="email">E-mail:</label>
        <br>
        <input name="email" type="text">
        <br>
        <label for="senha">Senha:</label>
        <br>
        <input name="senha" type="text">
        <br>
        <br>
        <button type="submit" class="btn btn-danger">Entrar</button>
    </form>
</div>