@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-4">
            <form>
                <div class="">
                    <div class="">
                        <label for="Ingrediente 1">Ingrediente 1</label>
                        <input type="text" class="form-control" id="Ingrediente-1" placeholder="Insira o ingrediente 1">
                    </div>
                </div>

                <div class="">
                    <div class="">
                        <label for="Ingrediente 2">Ingrediente 2</label>
                        <input type="text" class="form-control" id="Ingrediente-2" placeholder="Insira o ingrediente 2">
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Pesquisar" class="btn btn-success float-left" />
                    <input type="submit" value="Adicionar" class="btn btn-success float-right" />
                </div>
            </form>
        </div>

        <div class="col-md-auto">
            <h2>Receitas Disponíveis</h2>
            <div class="" style="width: 18rem;">

                <img class="card-img-top" src="https://img.itdg.com.br/images/recipes/000/029/124/320646/320646_original.jpg" alt="Bolo simples">
                <div class="card-body">
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                </div>
            </div>
        </div>
    </div>
</div>